body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
#journal {
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid #000;
    background-color: #b6ff00;
}
.subtitle {
    font-weight: bold;
    font-style: italic;
}
.entry {
    border: 1px solid #000;
    margin: 30px 0;
    padding: 10px;
    background-color: #c2e0ff;
    float: left;
    width: 45%;
}
.date {
    font-weight: bold;
}
.name {
    font-weight: bold;
}
.highlight {
    font-weight: bold;
    color: #ff4500;
}
